<!doctype html>
<html>

<head>
    <title>Pool 5</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">


        <div class="page-header text-center">
            <div class="alert alert-primary" role="alert">
                <h1><span class="fa fa-anchor"></span> Pool 5 </h1>
            </div>


           <h1> <a href="/logout" class="btn btn-default btn-sm">Logout</a></h1>
        </div>
        <br>
        <div>
            <a href="/pool1" class="badge badge-primary">Pool 1 </a>
            <a href="/pool2" class="badge badge-secondary">Pool 2</a>
            <a href="/pool3" class="badge badge-success">Pool 3</a>
            <a href="/pool4" class="badge badge-danger">Pool 4</a>
            <a href="/pool5" class="badge badge-warning">Pool 5</a>
            <a href="/pool6" class="badge badge-info">Pool 6</a>
            <a href="/pool7" class="badge badge-light">Pool 7</a>
            <a href="/profile" class="badge badge-dark">Home</a>

        </div>

        <div class="row">

            <!-- GOOGLE INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google pool 5</h3>

                    <p>
                        <strong>email</strong>: <%= email %><br>
                            <strong>name</strong>: <%= name %><br><br>
                                <strong>pic</strong>: <img src="<%=pic%>" width="100" height="100" alt="">
                    </p>

                </div>
            </div>

        </div>

    </div>


</body>

</html>